@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-bg text-light-text;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  @apply bg-dark-bg text-dark-text;
}

/* Custom scrollbar for a modern look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #4A5568;
}